<div class="layui-layout layui-layout-admin ">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo" style="color: #fff;">SSL</div>
        <ul class="layui-nav layui-layout-left layui-bg-green" lay-filter="">
            <li class="layui-nav-item layui-this"><a href="">网站首页</a></li>
            <li class="layui-nav-item"><a href="">支持中心</a></li>
            <li class="layui-nav-item"><a href="">产品</a></li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right layui-bg-green">
            {% if auth.check %}
            <li class="layui-nav-item">
                <a href="javascript:;"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">{{auth.user.username}}</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="{{path_for('auth.signout')}}">退了</a></dd>
                </dl>
            </li>
            {% else %}
            <li class="layui-nav-item"><a href="{{path_for('auth.signup')}}">注册</a></li>
            <li class="layui-nav-item"><a href="{{path_for('auth.signin')}}">登录</a></li>
            {% endif %}
        </ul>
    </div>
</div>